@charset "UTF-8";
@import 'normalize';

$hausLitur:rgba(49, 170, 73, 0.71);
$litur: #818181;
$litur2: blue;
$litur3: #f76800;
$fontSize: 1.3em;
$texti: .9em;
$fyrirsogn: "Þetta er fyrirsögn";
$fyrirsogn2: "Þetta er líka fyrirsögn";
$border: 2px $litur2 solid;
$padding: 1em 2em;  
$breydd: 50em;
$margin: 20px auto;
$textaLitur: #b1b1b1;
$textaLiturHover: green;

*{
    box-sizing: border-box;
}
body{
    background-color: $litur;
    font-size: $fontSize;
    width:100%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:$breydd;
    margin: $margin;
    img{
        height: 10em;
        padding: $padding;
    }
    h1{
        color: $hausLitur;
        text-shadow: 2px 2px #000;
        font-size: 3em;
    }
}
@mixin box{
    border: $border;
    text-align: center;
    padding: $padding; 
    max-width: $breydd;
    margin: $margin;
    p{
        font-size: $texti;
        color:$textaLitur;
    }
    p:hover{
        color:$textaLiturHover;
    }
}
.box1{
    @include box;
    h1:before{
        content: $fyrirsogn;
    }
}   
.box2{
    @include box;
    h1:before{
        content: $fyrirsogn2;
        color:$litur3;
    }
}   
.box-container{
    width:100%;
    display: flex;
    max-width:$breydd;
    margin:$margin;
}
.box3{
    @include box;
    width: 3 / 5 * 100%;
    margin-right:8px;
    h1:before{
        content: "3/5 = 60%";
        color:$litur2;
    }
}
.box4{
    @include box;
    width: 2 / 5 * 100%;
    margin-left:8px;
    h1:before{
        content: "2/5 = 40%";
        color:$litur2;
    }
}