@charset "UTF-8";
@import 'normalize';

$border: 3px solid #9a3939;
$padding: 1em 1.5em;
$margin: .5em 0;

*{
    box-sizing:border-box;
}
body {
    background-color: #888888;
    display: grid;
    grid-gap: 1em;
    max-width: 55em;
    width: 100%;
    margin: 0 auto;
    grid-template-areas:
     "header"
     "box"
     "footer"
}

header {
    grid-area: header;
    border: $border;
    padding: $padding;
    margin: $margin;
    text-align: center;
}
.box{
    grid-area: box;
    width: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
     "left"
     "article"
     "right"
}
.left {
    grid-area: left;
    border: $border;
    padding: $padding;
}
.right {
    grid-area: right;
    border: $border;
    padding: $padding;
}
article{
    grid-area: article;
    border: $border;
    padding: $padding;
}
footer {
    grid-area: footer;
    border: $border;
    padding: $padding;
}

@media only screen and (min-width: 500px)  {
    .box {
        grid-template-columns: 20% auto;
        grid-template-areas:
        "article article"
        "left   right";
    }
}

@media only screen and (min-width: 600px)   {
    .box {
        grid-gap: 20px;
        grid-template-columns: 25% auto 25%;
        grid-template-areas:
        "left   article   right";
    }
}
